.nom{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.metier{
    font-size: 30px;
    font-weight: bold;
    text-align: center;   
}

.adresse{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.experiences{
    font-size: 30px;
    font-weight: bold;
}

.formation{
    font-size: 30px;
    font-weight: bold;
}

.competences{
    font-size: 30px;
    font-weight: bold;
}

.infosup{
    font-size: 20px;
    font-weight: bold;
}

.langues{
    font-size: 20px;
    font-weight: bold;
}

.gris{
    background: #F0F8FF;
}

.container{
    display: flex;
    flex-direction: row;
}

.btn{
    text-align: center;
}