.nom{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.metier{
    font-size: 30px;
    font-weight: bold;
    text-align: center;   
}

.portrait{
    border: 20px solid white;
}

.adresse{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    
}

.detail{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.experiences{
    font-size: 30px;
    font-weight: bold;
}

.formation{
    font-size: 30px;
    font-weight: bold;
}

.competences{
    font-size: 30px;
    font-weight: bold;
}

.infosup{
    font-size: 20px;
    font-weight: bold;
}

.langues{
    font-size: 20px;
    font-weight: bold;
}

.gris{
    background: #F0F8FF;
}

.container{
    display: flex;
    flex-direction: row;
}

.btn{
    align-items: center;
}

/**/
.contient{
        
    
    
}

.un{
    border: 5px solid blue;
    display: inline-block;
    width: 33%;
}

.deux{
    border: 5px solid red;
    display: inline-block;
    width: 33%;
}
.trois{
    border: 5px solid green;
    display: inline-block;
    width: 33%;
}